.contentArea {
	width: 960px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18;
	z-index: 0;
	overflow: hidden;
}

.contentP {
	color: gray;
	margin-left: 58px;
}

.contentP2 {
	color: gray;
	margin-left: 58px;
	font-style: italic;
	font-size: 14px;
}

.designerPic {
	width: 200px;
	height: 198px;
	border-radius: 150px;
}