.moreStyle {
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}

.titleStyle {
	margin-top: 3px;
	margin-left: 5px;
}
.modulebackground{
	background-image: url('../images/modulebackground.png');
	z-index: 0;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	margin-left: 0px;
	padding-left: 0px;
}
.titlebackground{
	background-image: url('../images/titlebackground.png');
	z-index: 0;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	margin-left: 0px;
	padding-left: 0px;
}
.virtualCasebackground{
	background-image: url('../images/virtualCasebackground.png');
	z-index: 0;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	margin-left: 0px;
	padding-left: 0px;
}
.designerPic {
	width: 200px;
	height: 198px;
	border-radius: 150px;
}